body, html{
    height: 100%;
    margin: 0;
}
.bg-img{
    background-image: url('https://images8.alphacoders.com/105/thumb-1920-1055760.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.navbar{
    margin-bottom: 20px;
}
.navbar-nav{
    flex-direction: row !important;
}
.nav-item{
    margin: 0 10px;
}
.nav-link{
    color: white !important;
}
nav.navbar{
    background-color: rgba(0,0,0,0.8) !important;
}
.navbar{
    border-radius: 20px;
    margin: 0 auto;
    max-width: 960px;
    background-color: #000;
}
.container-fluid{
    justify-content: center;
    flex-wrap: wrap;
}
.navbar-nav{
    justify-content: center;
}
.nav-item{
    margin: 0 10px;
}
.nav-link.active{
    border-bottom: 2px solid #fff;
}